@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&family=Poppins&family=Reem+Kufi&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color:#FAFAFA;
}

.header-container{
    background: radial-gradient(70.73% 85.38% at 30.49% 34.8%, #B7FF96 0%, #35AB7B 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-bottom: 3px solid #000000;
    display:flex;
    flex-direction: column;   
}
.header-container-nav{
    width: 100%;
    border-bottom: 2px solid #000000;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(270deg, #35AB7B -2.99%, rgba(250, 250, 250, 0) 105.17%);
    transition: all 0.5s;
}
#nav-bar{
    height: 11.5vh;
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
.scroll{
    background-color: #35AB7B;
}
.logo img{
    height: 9vh;
}
#nav-bar.active .menu{
    display: block;
    
}
.menu-hamburguer{
    display:flex;
    flex-direction: column;
    gap: 3px;
    display: none;
    cursor: pointer;
   
}
.menu-hamburguer .linha{
    width: 30px;
    height: 4px;
    background-color: #000000;
    border-radius: 3px;
    transition: 0.5s;
}
.container-menu{
    display: flex;
    gap: 2vw;
    
}
.item-menu{
    font-size:3vh;
    font-family:'Reem Kufi', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.item-menu:hover{
    color: #423d3d;
}
.container-menu .login{
    padding:2px 3.5vw;
    background-color: #0C0C0C;
    color: #ffff;
    border-radius: 90px;
}
.container-menu .login:hover{
    background-color:#423d3d;
}
.container-futuro{
    margin-top: 11.5vh;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    padding:10vh 0;
}
.container-futuro-descricao{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.container-futuro .descricao{
    width: 70%;
}
.container-futuro .descricao h2{
    font-size:10vh;
    line-height: 13vh;
    font-family:'Montserrat', sans-serif ;
    font-weight: 600;
    margin-bottom: 3vh;
}
.container-futuro .descricao p{
    font-size:3vh;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5vh;
    width:90%;
}
.container-futuro .descricao .comecar{
    color: #ffff;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600;
    background-color: #0C0C0C;
    border-radius: 12px;
    padding: 1.8vh 3.4vw;
    
}
.container-futuro .descricao .comecar:hover{
    background-color:#423d3d;
}
.container-img-vetor{
    width:50%;
}
.container-img-vetor .img-vetor{
    width: 100%;
}
section{
    width:100%;
}
.section-container-valores{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: 0 auto;
    background-color: #ffff;
    border-radius:25px;
    padding: 7vh 4vw 20vh 4vw;  
    margin-top: 10vh;
    margin-bottom: 30vh;
    -webkit-box-shadow: 1px 3px 4px 1px rgba(148,148,148,0.7);
    -moz-box-shadow: 1px 3px 4px 1px rgba(148,148,148,0.7);
    box-shadow: 1px 3px 4px 1px rgba(148,148,148,0.7);  
}

section .titulos h3{
    font-size:4vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}
section .titulos h2{
    font-size:6vh;
    font-weight: 600;
    font-family:'Montserrat', sans-serif ;
    margin-bottom: 13vh;
}
section .container-valores{
    display:flex;
    justify-content: space-between;
    
}
section .container-valores .coluna-valores{
    width: 30%;
}
section .container-valores .coluna-valores h3{
    font-size:3.5vh;
    font-weight: 600;
    font-family:'Montserrat', sans-serif ;
    border-bottom: 3px solid #D9D9D9;
    display:flex;
    justify-content: space-between;
    margin-bottom: 26px;
}
section .container-valores .coluna-valores h3 img{
    width:2vw;
    margin-bottom: 2px;
}
section .container-valores .coluna-valores .descricao-valores p{
    font-size:2.5vh;
    font-weight: 500;
    font-family:'Montserrat', sans-serif ;
    line-height: 4.5vh;
}
.container-opiniao-salomao{
    width: 100%;
}
.container-opiniao{
    width:80%;
    margin:0 auto;
    display:flex;
    background-color: #06B45F;
    height: 30vh;
    position: relative;
    margin-bottom: 20vh;
    padding:2vh 2.5vw;
}
.container-opiniao .titulo-opiniao h3{
    font-family: 'Montserrat', italic;
    font-size:3.5vh;
    font-weight: 500;
}
.container-opiniao .titulo-opiniao p{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5vh;
    font-weight: 500;
    line-height: 4vh;
}
.container-opiniao .img-vetor-opiniao img{
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 8px;
    width: 30vw;
}
.container-eventos{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
.eventos h3{
    font-size: 3.5vh;
    color:#000000;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    margin-bottom: 5vh;
}
.eventos .eventos-title{
    border-bottom: 2px solid #E9E9E9;
    margin-bottom: 7vh;
    color:#656565;
}
.eventos .semana-box{
    display:flex;
    justify-content: space-between;
}
.eventos .semana-box .semana-secion{
    width: 45%;
}
.eventos .semana-box .semana-secion img{
    width: 100%;
    margin-bottom: 3vh;
}
footer{
    padding: 0 2vh 2vh 2vh;
}
.footer-container{
    margin-top: 7vh;
    background-color:#06B45F;
    padding:4vh 5vw;
    display: flex;
    justify-content: space-between;
    border-radius:20px;
}
footer h2{
    font-size:5vh;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}
footer .descricao-footer p{
    font-size:3vh;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}
footer form{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
footer form .btn-enviar{
    width:10vw;
    padding:1.5vh 2vw;
    border: 0;
    cursor: pointer;
    border-radius:11px;
    background-color: #ffff;
    font-size: 2.5vh;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; 
}
footer form .email{
    border: 0;
    outline: none;
    padding:3vh 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius:11px;
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; 
}
footer img{
    width: 35%;
}

 /* media para telas menores de notebook */

 @media (max-width:1024px){
    #nav-bar{
        width: 90%;
    }
    .logo img{
        height:8vh;
    }
    .container-menu .login{
        padding: 0.3vh 3vw;
        border-radius: 90px;
    }
    .container-futuro{
       align-items: flex-start;
       height: 60vh;
    }
    .container-futuro-descricao{
        width: 90%;
        padding: 2vh 0;
    }
    .container-futuro .descricao h2{
        font-size:8vh;
        line-height: normal;
    }
    .container-futuro .descricao h3{
        font-size: 3vh;
    }
    .container-futuro .descricao .comecar{
        font-size: 2.5vh;
        border-radius: 11px;
        padding: 1.5vh 4vw;
    }
    .container-opiniao{
        width:90%;
    }
    section .titulos h3{
        font-size:3vh;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 500;
    }
    section .titulos h2{
        font-size:4vh;
        font-weight: 600;
        font-family:'Montserrat', sans-serif ;
        margin-bottom: 96px;
    }
    .section-container-valores{
        width:90%;
    }
    section .container-valores{
        display:flex;
        justify-content: space-between;
      
    }
    section .container-valores .coluna-valores{
        width:28%;
    }
    section .container-valores .coluna-valores .descricao-valores p{
        font-size: 2.3vh;
    }
    .container-opiniao{
        height: 25vh;
    }
    .container-opiniao .titulo-opiniao h3{
       font-size: 2.7vh;
    }
    .container-opiniao .titulo-opiniao p{
        font-size: 2vh;
       line-height: 3.5vh;
    }
    .container-opiniao .img-vetor-opiniao img{
        width: 28vw;
        right: 5px
    }
    .container-eventos{
        width: 90%;
    }
    .eventos h3{
        font-size: 3vh;
    }
    .eventos .semana-box .semana-secion{
        width: 48%;
    }
    .eventos .semana-box .semana-secion img{
        width: 100%;
    }
    footer h2{
        font-size:4vh;
    }
    footer .descricao-footer p{
        font-size:2.5vh;
    }
    footer form{
        gap: 2vh;
    }
    footer form .btn-enviar{
        width:10vw;
        padding:1.5vh 2vw;
        border-radius:11px;
        font-size: 2vh;
    }
    footer form .email{
        padding:2.5vh 20px;
        border-radius:9px;
        font-size:2vh;
    }

    footer img{
        width: 35%;
    }
    
}

/* media para tablet */

@media (max-width:900px){
    #nav-bar{
        height: 9vh;       
    }
    nav.active .menu{
        display: block;        
    }
    nav.active .menu-hamburguer .linha2{
        display: none;
    }
    nav.active .menu-hamburguer .linha1{
        transform: rotate(140deg);
        position: absolute;     
    }
    nav.active .menu-hamburguer .linha3{
        transform: rotate(-140deg);
    }
    .menu{
        display: none;
        position: absolute;
        top:calc(9vh + 2px);
        right: 0;
        width: 60vw;
        background: radial-gradient(70.73% 85.38% at 30.49% 34.8%, #B7FF96 0%, #35AB7B 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        z-index: 9999;
        animation: slide 0.5s ease-in-out;
    }
    @keyframes slide {
        from{
          
           transform: translateX(100%);
        }
        to{
            transform: translateX(0%);
        }
    }
    .menu .container-menu{
        display: flex;
        flex-direction: column;
        align-items:center; 
        padding-top: 10px;
        padding-bottom: 20px; 
        background: linear-gradient(270deg, #35AB7B -2.99%, rgba(250, 250, 250, 0) 105.17%);

        width: 100%;
        height: 100vh;
        gap: 35px;
    }
    .menu .container-menu .item-menu{
        padding: 1rem; 
        font-size: 2vh;
        color: #0C0C0C;   
    }
    .menu .container-menu .login{
        padding: 3px 60px;
        background-color: #0C0C0C;
        color: #FAFAFA;
        border-radius: 90px;
    }
    .menu-hamburguer{
        display: flex;
    }
    .container-futuro{
        align-items:center;
        height: 65vh;
     }
     .container-futuro-descricao{
         width: 100%;
         padding-left:5vw;
     }
     .container-futuro .descricao h2{
         font-size:7vh;
         line-height: normal;
     }
     .container-futuro .descricao p{
        font-size: 2.5vh;
     }
     .container-futuro .descricao .comecar{
         font-size: 2.5vh;
         border-radius: 9px;
         padding: 1.5vh 4vw;
     }
     .container-opiniao{
         display: none;
     }
     section .titulos h3{
         font-size:3vh;
     }
     section .titulos h2{
         font-size:4vh;
         margin-bottom: 96px;
     }
     .section-container-valores{
         width:85%;
     }
     section .container-valores{
         flex-direction:column;
         gap: 5vh;  
     }
     section .container-valores .coluna-valores{
        width:85%;
        margin: 0 auto;
     }
     section .container-valores .coluna-valores h3 img{
        width: 3vh;
     }
     section .container-valores .coluna-valores .descricao-valores p{
         font-size: 2.5vh;
     }
     .container-eventos{
         width: 85%;
     }
     .eventos .semana-box{
        flex-direction: column;
    }
     .eventos h3{
         font-size: 3vh;
     }
     .eventos .semana-box .semana-secion{
         width: 100%;
     }
     .eventos .semana-box .semana-secion img{
         width: 100%;
     }
     footer h2{
         font-size:4vh;
     }
     footer .descricao-footer p{
         font-size:2.5vh;
     }
     footer form{
         gap: 2vh;
     }
     footer{
        padding: 0 1vh 2vh 1vh;
        margin-top:9vh;
    }
    .footer-container{
        padding:4vh 5vw;
    }
     footer form .btn-enviar{
         width:12vw;
         padding:1.5vh 2vw;
         border-radius:9px;
         font-size: 2vh;
     }
     footer form .email{
         padding:2vh 20px;
         border-radius:9px;
         font-size:2vh;
     }
    footer img{
        display: none;
    }
}

 


/* media para celulares */

@media (max-width:500px){
    .menu{
        width: 80vw;   
    }
    .menu .container-menu .item-menu{
        padding: 1rem;
        font-size:2vh;
       
    }
    .menu .container-menu .login{
        padding: 3px 60px;
        background-color: #0C0C0C;
        color: #ffff;
        border-radius: 90px;
    }
    .container-futuro .descricao{      
       width: 100%;
       justify-content: center;
    }
    .container-futuro .descricao h2{
        font-size: 5vh;
    }
    .container-futuro .descricao p{
        font-size: 2vh;
    }
    .container-futuro .descricao .comecar{
        padding: 10px 40px; 
        border-radius: 8px;
        font-size: 2vh;
    }
    .section-container-valores{
        border-radius:20px;
        width: 90%;
    }
    section .titulos h3{
        font-size:2.5vh;
    }
    section .titulos h2{
        font-size: 3.5vh;
    }
    section .container-valores{
        width: 90%;
    }
    section .container-valores .coluna-valores h3{
        font-size: 3vh;
    }
    section .container-valores .coluna-valores h3 img{
        width: 3vw;
    }
    section .container-valores .coluna-valores .descricao-valores p{
        font-size: 14px;
        line-height: 25px;
    }
    .container-opiniao{
        display:none;
    }
    .eventos{
        margin-top: 34px;
    } 
    .eventos .semana-box{
        flex-direction: column;
    }
    .eventos .semana-box .semana-secion{
        width: 100%;
    }
    footer{
        padding: 0 1vh 1vh 1vh;
    }
    footer .descricao-footer h2{
        font-size: 25px;
    }
    footer .descricao-footer p{
        font-size: 14px;
       
    }
    footer form .email{
        padding:14px 20px ;
        font-size: 10px;
        border-radius:8px;
    }
    footer form{
        gap: 15px;
    }
    footer form .btn-enviar{
        width:100px;
        padding:8px 15px;
        font-size: 14px;
        border-radius: 5px;
    }
    footer img{
        display: none;
        justify-content: center;
    }
}

